In [10]:
def my_func(num):
    return num**2

In [11]:
my_num = [1,2,3,4,5,6,7,8,9,10]

In [12]:
list(map(my_func,my_num))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
def splicer(mystring):
    if len(mystring) %2 == 0:
        return 'even'
    else:
        return mystring[0]

In [16]:
myname=['shreya','hii']

In [17]:
list(map(splicer,myname))

['even', 'h']

In [18]:
def check_even(num):
    return num % 2 == 0

In [27]:
num=[1,2,3,4,5,6,7]

In [28]:
list(filter(check_even,num))

[2, 4, 6]

In [29]:
lambda hii:print("Hiiiiiiiiiiiiiiiiiiii")

In [30]:
square=lambda num:num**2

In [31]:
square(2)

4

In [32]:
val=lambda n:n%2==0
val(15654956565656)

True

In [34]:
list(map(square,num))

[1, 4, 9, 16, 25, 36, 49]

In [35]:
list(filter(lambda n: n % 2 == 0,num))

[2, 4, 6]

In [36]:
def inc(n):
    return lambda x: x+n
f = inc(42)

In [38]:
f(0)

42

In [39]:
f(5)

47

In [40]:
def times2(var):
    return var*2

In [41]:
times2(2)

4

In [42]:
seq=[1,2,3,4,5]

In [44]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [45]:
def concat(*args,sep="/"):
    return sep.join(args)

In [46]:
concat("earth","venus")

'earth/venus'

In [47]:
args=[3,6]
list(range(*args))

[3, 4, 5]

In [48]:
list(range(*[1,100]))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [49]:
squares = [x**2 for x in range(10)]

In [50]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
squares =  list(map(lambda x: x**2,range(10)))

In [52]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [53]:
res=[]
for i in range(100):
    res.append(i/2)

In [54]:
res

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0,
 10.5,
 11.0,
 11.5,
 12.0,
 12.5,
 13.0,
 13.5,
 14.0,
 14.5,
 15.0,
 15.5,
 16.0,
 16.5,
 17.0,
 17.5,
 18.0,
 18.5,
 19.0,
 19.5,
 20.0,
 20.5,
 21.0,
 21.5,
 22.0,
 22.5,
 23.0,
 23.5,
 24.0,
 24.5,
 25.0,
 25.5,
 26.0,
 26.5,
 27.0,
 27.5,
 28.0,
 28.5,
 29.0,
 29.5,
 30.0,
 30.5,
 31.0,
 31.5,
 32.0,
 32.5,
 33.0,
 33.5,
 34.0,
 34.5,
 35.0,
 35.5,
 36.0,
 36.5,
 37.0,
 37.5,
 38.0,
 38.5,
 39.0,
 39.5,
 40.0,
 40.5,
 41.0,
 41.5,
 42.0,
 42.5,
 43.0,
 43.5,
 44.0,
 44.5,
 45.0,
 45.5,
 46.0,
 46.5,
 47.0,
 47.5,
 48.0,
 48.5,
 49.0,
 49.5]

In [55]:
comb=[]
for x in [1,2,3]:
    for y in[3,1,4]:
        if x!=y:
            comb.append((x,y))

In [56]:
comb

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [57]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [58]:
vec=[0,-4,2,6,-2]
[x*2 for x in vec]

[0, -8, 4, 12, -4]

In [59]:
vec=[[1,2,3],[4,5,6],[7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]